<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的购物车-京东商城</title>
		<link rel="icon" href="img/心04.png" type="image/x-icon"/>
    <link rel="stylesheet" href="css\One_bdyStyle.css">
		<link rel="stylesheet" href="css\index.css">
		<script src="js\jquery-3.1.1.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css\One_mainFoot.css">
		<link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.css" />
	</head>
	<body>
		<header>
			<a name="mao1">
			<div class="header">

				<ul class="header-left">
					<li>
						<img src="image/header_1.png"/>
						<a href="">京东首页</a>
					</li>
					<li class="header-l-2">
						<i class="fa fa-map-marker" style="color: #5C5452;"></i>
						<a href="">北京</a>
						<div class="header-l-d">

							<ul>
								<li><a href="" style="background: red; color: white;">北京</a></li>
								<li><a href="">山西</a></li>
								<li><a href="">内蒙古</a></li>
								<li><a href="">福建</a></li>
								<li><a href="">江西</a></li>
								<li><a href="">西藏</a></li>
								<li><a href="">新疆</a></li>
							</ul>
							<ul>
								<li><a href="">上海</a></li>
								<li><a href="">河南</a></li>
								<li><a href="">江苏</a></li>
								<li><a href="">湖北</a></li>
								<li><a href="">四川</a></li>
								<li><a href="">陕西</a></li>
								<li><a href="">港澳</a></li>
							</ul>
							<ul>
								<li><a href="">天津</a></li>
								<li><a href="">辽宁</a></li>
								<li><a href="">山东</a></li>
								<li><a href="">湖南</a></li>
								<li><a href="">海南</a></li>
								<li><a href="">甘肃</a></li>
								<li><a href="">台湾</a></li>
							</ul>
							<ul>
								<li><a href="">重庆</a></li>
								<li><a href="">吉林</a></li>
								<li><a href="">安徽</a></li>
								<li><a href="">广东</a></li>
								<li><a href="">贵州</a></li>
								<li><a href="">青岛</a></li>
								<li><a href="">钓鱼岛</a></li>
							</ul>
							<ul>
								<li><a href="">河北</a></li>
								<li><a href="">黑龙江</a></li>
								<li><a href="">浙江</a></li>
								<li><a href="">广西</a></li>
								<li><a href="">云南</a></li>
								<li><a href="">宁夏</a></li>
								<li><a href="">海外</a></li>
							</ul>

						</div>
					</li>
				</ul>
				<ul class="header-right">
					<li><a href="../登录页面\index.html" style="color: red;">你好，请登录</a></li>
					<li><a href="../注册页面\index.html" >免费注册</a></li>
					<li class="spacer"></li>
					<li><a href="">我的订单</a></li>
					<li class="spacer"></li>
					<li>
						<a href="">我的京东</a>
						<i class="fa fa-angle-down"></i>
						<div class="header-r-1 aacnm header-r-11">
							<div>
								<ol>
									<dd><a href="">待处理订单</a></dd>
									<dd><a href="">返修退换货</a></dd>
									<dd><a href="">降价商品</a></dd>

								</ol>
								<ol>
									<dd><a href="">消息</a></dd>
									<dd><a href="">我的问答</a></dd>
									<dd><a href="">我的关注</a></dd>

								</ol>

							</div>
							<div>
								<ol>
									<dd><a href="">我的京豆</a></dd>
									<dd><a href="">我的白条</a></dd>
								</ol>
								<ol>
									<dd><a href="">我的优惠劵</a></dd>
									<dd><a href="">我的理财</a></dd>
								</ol>

							</div>
							<div>
								<h4><a href="">我的足迹</a><a href="">更多 ></a> </h4>
								<a href=""><img src="image/59ae02fcN529cc4a1.jpg"/></a>
								<a href=""><img src="image/59ce706fN6f3f2a4a.jpg"/></a>
								<a href=""><img src="image/57b191f2N15993cbb.jpg"/></a>
								<a href=""><img src="image/58ff269fN7b7e087b.jpg"/></a>

							</div>
						</div>

					</li>
					<li class="spacer"></li>
					<li><a href="">京东会员</a></li>
					<li class="spacer"></li>
					<li><a href="">企业采购</a></li>
					<li class="spacer"></li>
					<li>
						<a href="">客户服务</a>
						<i class="fa fa-angle-down"></i>
						<div class="header-r-1 aacnm header-r-2">
							<div>
								<h4>客户</h4>
								<ol>

									<dd><a href="">帮助中心</a></dd>
									<dd><a href="">在线客服</a></dd>
									<dd><a href="">电话客服</a></dd>
									<dd><a href="">金融咨询</a></dd>
								</ol>
								<ol>

									<dd><a href="">售后服务</a></dd>
									<dd><a href="">意见建议</a></dd>
									<dd><a href="">客服邮箱</a></dd>
									<dd><a href="">售全球客服</a></dd>
								</ol>
							</div>
							<div>
								<h4>商户</h4>
								<ol>

									<dd><a href="">合作招商</a></dd>
									<dd><a href="">商家后台</a></dd>
									<dd><a href="">商家帮助</a></dd>
								</ol>
								<ol>

									<dd><a href="">学习中心</a></dd>
									<dd><a href="">京麦工作台</a></dd>
									<dd><a href="">规则平台</a></dd>
								</ol>
							</div>
						</div>

					</li>
					<li class="spacer"></li>
					<li>
						<a href="">网址导航</a>
						<i class="fa fa-angle-down"></i>
						<div class="header-r-1 aacnm header-r-3">
								<div>
									<h4>特色主题</h4>
									<ol>
										<dd><a href="">京东试用</a></dd>
										<dd><a href="">国际站</a></dd>
										<dd><a href="">买什么</a></dd>
										<dd><a href="">0元评测</a></dd>
										<dd><a href="">优惠劵</a></dd>
										<dd><a href="">印尼站</a></dd>
										<dd><a href="">陪伴计划</a></dd>
									</ol>
									<ol>
										<dd><a href="">京东金融</a></dd>
										<dd><a href="">京东会员</a></dd>
										<dd><a href="">俄语站</a></dd>
										<dd><a href="">定期送</a></dd>
										<dd><a href="">秒杀</a></dd>
										<dd><a href="">京东金融科技</a></dd>
										<dd><a href="">出海招商</a></dd>
									</ol>
									<ol>
										<dd><a href="">全球售</a></dd>
										<dd><a href="">京东预售</a></dd>
										<dd><a href="">装机大师</a></dd>
										<dd><a href="">港澳售</a></dd>
										<dd><a href="">闪购</a></dd>
										<dd><a href="">In货推荐</a></dd>
									</ol>
								</div>

								<div>
									<h4>行业推荐</h4>
									<ol>
										<dd><a href="">手机</a></dd>
										<dd><a href="">玩3C</a></dd>
										<dd><a href="">家用电器</a></dd>
										<dd><a href="">服装城</a></dd>
										<dd><a href="">家装城</a></dd>
										<dd><a href="">食品</a></dd>
										<dd><a href="">农资频道</a></dd>
										<dd><a href="">图书</a></dd>

									</ol>
									<ol>
										<dd><a href="">智能数码</a></dd>
										<dd><a href="">电脑办公</a></dd>
										<dd><a href="">京东智能</a></dd>
										<dd><a href="">美妆馆</a></dd>
										<dd><a href="">母婴</a></dd>
										<dd><a href="">运动户外</a></dd>
										<dd><a href="">整车</a></dd>
									</ol>
								</div>
								<div>
									<h4>生活服务</h4>
									<ol>
										<dd><a href="">京东众筹</a></dd>
										<dd><a href="">京东金融App</a></dd>
										<dd><a href="">理财</a></dd>
										<dd><a href="">话费</a></dd>
										<dd><a href="">彩票</a></dd>
										<dd><a href="">机票酒店</a></dd>
										<dd><a href="">酒店到家</a></dd>
										<dd><a href="">游戏</a></dd>

									</ol>
									<ol>
										<dd><a href="">白条</a></dd>
										<dd><a href="">京东小金库</a></dd>
										<dd><a href="">智能家电</a></dd>
										<dd><a href="">水电煤</a></dd>
										<dd><a href="">旅行</a></dd>
										<dd><a href="">电影票</a></dd>
										<dd><a href="">京东众测</a></dd>
									</ol>
								</div>




								<div>
									<h4>更多精选</h4>
									<ol>
										<dd><a href="">合作招商</a></dd>
										<dd><a href="">京东E卡</a></dd>
										<dd><a href="">服务市场</a></dd>
										<dd><a href="">乡村招募</a></dd>
										<dd><a href="">京友邦</a></dd>
										<dd><a href="">智能社区</a></dd>
										<dd><a href="">知识产权维权</a></dd>


									</ol>
									<ol>
										<dd><a href="">京东通信</a></dd>
										<dd><a href="">企业采购</a></dd>
										<dd><a href="">办公生活馆</a></dd>
										<dd><a href="">校园加盟</a></dd>
										<dd><a href="">京东社区</a></dd>
										<dd><a href="">游戏社区</a></dd>
									</ol>
								</div>
								</div>
							</li>
							<li class="spacer"></li>
							<li class="header-r-4"><a href="">手机京东</a>
								<div class="aacnm h-r-1">

									<div>
										<div class="h-r-1img">
											<img src="image/59a51bf6Nb8e478cc.png"/>
										</div>
										<h4><a href="">手机京东</a></h4>
										<p>新人专享大礼</p>
										<div class="h-r-1img2">
											<a href=""><img src="image/8104b36ae6b72043ae838599d36d007d.png" alt="" /></a>
											<a href=""><img src="image/c0935b2c6504a5419e6ee507a5381bbe.png"/></a>
											<a href=""><img src="image/a64b429ebf83d2459a0a73830f4ad4c4.png"/></a>
										</div>
									</div>
									<div>
										<div class="h-r-1img">
											<img src="image/5874a54dNcec29924.jpg"/>
										</div>
										<h4><a href="">关注京东微信</a></h4>
										<p>微信扫一扫关注新粉最高180元惊喜礼包</p>
										<!--<div class="h-r-1img2">
											<a href=""><img src="image/8104b36ae6b72043ae838599d36d007d.png" alt="" /></a>
											<a href=""><img src="image/c0935b2c6504a5419e6ee507a5381bbe.png"/></a>
											<a href=""><img src="image/a64b429ebf83d2459a0a73830f4ad4c4.png"/></a>
										</div>-->
									</div>
									<div>
										<div class="h-r-1img">
											<img src="image/5874a555Ne8192324.jpg"/>
										</div>
										<h4><a href="">京东金融客户端</a></h4>
										<p>新人专享大礼</p>
										<div class="h-r-1img2">
											<a href=""><img src="image/8104b36ae6b72043ae838599d36d007d.png" alt="" /></a>
											<a href=""><img src="image/c0935b2c6504a5419e6ee507a5381bbe.png"/></a>
											<a href=""><img src="image/a64b429ebf83d2459a0a73830f4ad4c4.png"/></a>
										</div>
									</div>

								</div>
							</li>
						</ul>
						<div style="clear: both;"></div>
					</div>

        </a>
				</header>




		<div class="one_search">

         <div class="one_sousuo">
             <div class="one_search_top">
                 <div class="one_top_left">
                     <a href="../京东首页\JD.html" class="one_left_logo"><img src="img/shop_03.jpg"></a>
                     <a href="#" class="one_left_link">购物车</a>
                 </div>
                 <div class="one_top_right">
                     <input type="text" class="one_right_txt" placeholder="自营" onfocus="this.placeholder=''"  onblur="this.placeholder='自营' ">
                     <input type="button" value="搜索" class="one_right_btn">
                 </div>
             </div>
             <div class="one_search_load">
                 <img src="img/shop_07.jpg" class="one_load_wraing">
                 <span>您还没有登录！登录后购物车的商品将保存到您账号中</span>
                 <a href="#"><input type="button" value="立即登录" class="one_load_btn"></a>
             </div>
         </div>
     </div>
    <div class="One_BdyShop">
      <div class="OneBdy_box">
        <div class="One_tabTop">
          <div class="One_Topleft">
            <span>全部商品3</span>
            <span>京东大药房</span>
          </div>
          <div class="One_Topright">
             <span>配送至:</span>
             <span>
							 上海徐汇区<img src="img\下箭头black.png">
							 <div class="One_Local">
                <ul>
                	<li>
										<label>北京</label><img src="img\下箭头black.png">
										<ol>
											<li>北京</li><li>上海</li><li>天津</li><li>重庆</li>
											<li>河北</li><li>山西</li><li>河南</li><li>辽宁</li>
											<li>吉林</li><li>黑龙江</li><li>内蒙古</li><li>江苏</li>
											<li>山东</li><li>安徽</li><li>浙江</li><li>福建</li>
											<li>湖北</li><li>湖南</li><li>广东</li><li>广西</li>
											<li>江西</li><li>四川</li><li>海南</li><li>贵州</li>
											<li>云南</li><li>西藏</li><li>陕西</li><li>甘肃</li>
											<li>青海</li><li>宁夏</li><li>新疆</li><li>港澳</li>
											<li>台湾</li><li>钓鱼岛</li><li>海外</li>
										</ol>
									</li>
									<li>
										<label>请选择</label><img src="img\下箭头black.png">
										<ol>
											<li>朝阳区</li><li>海淀区</li><li>西城区</li><li>东城区</li>
											<li>崇文区</li><li>宣武区</li><li>丰台区</li><li>石景山区</li>
											<li>门头沟</li><li>房山区</li><li>通州区</li><li>大兴区</li>
											<li>顺义区</li><li>怀柔区</li><li>密云区</li><li>昌平区</li>
											<li>平谷区</li><li>延庆县</li>
										</ol>
									</li>
									<li>
										<label>请选择</label><img src="img\下箭头black.png">
										<ol>
											<li>三环以内</li><li>三环到四环之间</li>
											<li>四环到五环之间</li><li>五环到六环之间</li>
											<li>六环以外</li><li>西三旗</li><li>西二旗</li>
										</ol>
									</li>
                </ul>
							 </div>
						 </span>
          </div>
        </div>
        <div class="One_ShopTop">
          <ul>
            <li><input type="checkbox" class="allCheck">全选</li>
            <li>商品</li>
            <li>单价</li>
            <li>数量</li>
            <li>小计</li>
            <li>操作</li>
          </ul>
        </div>
        <div class="One_ShopBottom">
          <div>
           <span><input type="checkbox"  class="allCheck"></span>
           <span>京东自营</span>
          </div>
          <div><img src="img\myshop_07.jpg" alt=""></div>
          <div><span>已免运费</span></div>
        </div>
        <div class="One_ShopCon">
          <ul>
            <li>
              <div>
                <img src="img\myshop_25.jpg" alt="">
                <span>活动商品购满￥22000.00，即可享受满减 ></span>
                <span><img src="img/loopShop.jpg" alt="">去凑单 ></span>
              </div>
              <div>
                <ol>
                  <li><input type="checkbox"  class="check"></li>
                  <li>
                    <dt><img src="img\shop1.jpg" alt=""></dt>
                    <dd>
                      <p>
                        <span><img src="img\myshop_17.jpg" alt=""></span>
                        <span>TCL 55A950C 55英寸32核</span>
                        <span>尺码: 55时 超薄曲面 人工智能</span>
                      </p>
                      <p>人工智能 HDR曲面超薄4K电视金属机</p>
                      <p style="color:#6679B4"><img src="img\myshop_20.jpg" alt="">支持7天无理由退货</p>
                    </dd>
                  </li>
                  <li>
                    <p class="dj">￥4599.00</p>
                    <p>
											更多促销<img src="img\下箭头.png" class="hahaha">
										</p>
										<dl class="nmbd">
										 <dd><input type="radio" name="sixuanyi">每满1000.00减100.00</dd>
										 <dd><input type="radio" name="sixuanyi">每满1000.00减100.00</dd>
										 <dd><input type="radio" name="sixuanyi">满699.00、899.00、999.00可换购商品</dd>
										 <dd><input type="radio" name="sixuanyi">不实用活动优惠</dd>
										 <dd>
											 <button type="button" name="button">确定</button>
											 <button type="button" name="button">取消</button>
										 </dd>
									 </dl>
                  </li>
                  <li>
                    <p>
                      <span>-</span>
                      <span>5</span>
                      <span>+</span>
                    </p>
                    <p>有货</p>
                  </li>
                  <li style="font-weight:bold"><p class="zj">￥22995.00</p></li>
                  <li>
                    <p>删除</p>
                    <p>移到我的关注</p>
                    <p>加到我的关注</p>
                  </li>
                </ol>
              </div>
              <div>
                <span>【赠品】京东(JD)京东自营冰箱(三门/对开门)清洗..X5</span>
                <span>查看价格</span>
              </div>
            </li>
            <li>
              <div>
                <img src="img\huangou.jpg" alt="">
                <span>活动商品购满￥39.00，即可加价换购商品1件 ></span>
                <span><img src="img/loopShop.jpg" alt="">去凑单 ></span>
              </div>
              <div>
                <ol>
                  <li><input type="checkbox"  class="check"></li>
                  <li>
                    <dt><img src="img\shop2.jpg" alt=""></dt>
                    <dd>
                      <p>
                        <span><img src="img\myshop_10.jpg" alt=""></span>
                        <span>帮包适(Pampers)超薄</span>
                        <span>颜色:L【9-14kg】</span>
                      </p>
                      <p>千爽 婴儿纸尿裤 大号L164</p>
                      <p><img src="img\shop4.jpg" alt="">不支持7天无理由退货</p>
                    </dd>
                  </li>
                  <li>
                    <p class="dj">￥219.00</p>
                    <p>更多促销<img src="img\下箭头.png"></p>
										<dl class="nmbd">
										 <dd><input type="radio" name="sixuanyi">每满1000.00减100.00</dd>
										 <dd><input type="radio" name="sixuanyi">每满1000.00减100.00</dd>
										 <dd><input type="radio" name="sixuanyi">满699.00、899.00、999.00可换购商品</dd>
										 <dd><input type="radio" name="sixuanyi">不实用活动优惠</dd>
										 <dd>
											 <button type="button" name="button">确定</button>
											 <button type="button" name="button">取消</button>
										 </dd>
									 </dl>
                  </li>
                  <li>
                    <p>
                      <span>-</span>
                      <span>2</span>
                      <span>+</span>
                    </p>
                    <p>有货</p>
                  </li>
                  <li><p class="zj">￥438.00</p><p>12.02Kg</p></li>
                  <li>
                    <p>删除</p>
                    <p>移到我的关注</p>
                    <p>加到我的关注</p>
                  </li>
                </ol>
              </div>
            </li>
            <li>
              <div>
                <img src="img\huangou.jpg" alt="">
                <span>活动商品购满￥30.00，即可加价换购商品一件 ></span>
                <span><img src="img/loopShop.jpg" alt="">去凑单 ></span>
              </div>
              <div>
                <ol>
                  <li><input type="checkbox"  class="check"></li>
                  <li>
                    <dt><img src="img\shop3.jpg" alt=""></dt>
                    <dd>
                      <p>
                        <span><img src="img\myshop_10.jpg" alt=""></span>
                        <span>德国 进口牛奶 欧德宝</span>
                      </p>
                      <p>(Oldenburger)超高温处理全脂纯牛</p>
                      <p><img src="img\shop4.jpg" alt="">不支持7天无理由退货</p>
                    </dd>
                  </li>
                  <li>
                    <p class="dj">￥118.00</p>
                    <p>更多促销<img src="img\下箭头.png"></p>
										<dl class="nmbd">
										 <dd><input type="radio" name="sixuanyi">每满1000.00减100.00</dd>
										 <dd><input type="radio" name="sixuanyi">每满1000.00减100.00</dd>
										 <dd><input type="radio" name="sixuanyi">满699.00、899.00、999.00可换购商品</dd>
										 <dd><input type="radio" name="sixuanyi">不实用活动优惠</dd>
										 <dd>
											 <button type="button" name="button">确定</button>
											 <button type="button" name="button">取消</button>
										 </dd>
									 </dl>
                  </li>
                  <li>
                    <p>
                      <span>-</span>
                      <span>1</span>
                      <span>+</span>
                    </p>
                    <p>有货</p>
                  </li>
                  <li><p class="zj">￥118.00</p><p>12.96kg</p></li>
                  <li>
                    <p>删除</p>
                    <p>移到我的关注</p>
                    <p>加到我的关注</p>
                  </li>
                </ol>
              </div>
            </li>
          </ul>
        </div>
				<div class="One_ShopFootBuy fix1">
          <div>
            <ul>
            	<li><input type="checkbox" class="allCheck"><span>全选</span></li>
							<li>删除选中的商品</li>
							<li>移到我的关注</li>
							<li>清除下柜商品</li>
            </ul>
          </div>
					<div>
						已选择<font style="color:#e64346;font-weight:bold;" class="sumNum">8</font>件商品<img src="img\上 箭头.png" class="haha">
            <ol>
            	<li>普通商品7件</li>
							<li><img src="img/shop1.jpg" alt=""></li>
            </ol>
						<ul>
							<li><img src="img/buyNumleft.png" alt=""></li>
							<li><img src="img/buyNumright.png" alt=""></li>
						</ul>
					</div>
					<div>
            <ol>
            	<li>总价:<font style="color:#e64346;font-weight:bold;font-size:16px;" class="fnt">￥23551.00</font> <img src="img\灯.png" alt="" title="不含运费及送装服务费"></li>
							<li>已节省:-￥0.00</li>
            </ol>
					</div>
					<div><button type="button">去结算</button></div>
				</div>
      </div>
    </div>
		<div class="One_ShopFootBuy fix">
			<div>
				<ul>
					<li><input type="checkbox" class="allCheck"><span>全选</span></li>
					<li>删除选中的商品</li>
					<li>移到我的关注</li>
					<li>清除下柜商品</li>
				</ul>
			</div>
			<div>
				已选择<font style="color:#e64346;font-weight:bold;" class="sumNum">8</font>件商品<img src="img\上 箭头.png" class="haha">
				<ol>
					<li>普通商品7件</li>
					<li><img src="img/shop1.jpg" alt=""></li>
				</ol>
				<ul>
					<li><img src="img/buyNumleft.png" alt=""></li>
					<li><img src="img/buyNumright.png" alt=""></li>
				</ul>
			</div>
			<div>
				<ol>
					<li>总价:<font style="color:#e64346;font-weight:bold;font-size:16px;" class="fnt">￥23551.00</font> <img src="img\灯.png" alt="" title="不含运费及送装服务费"></li>
					<li>已节省:-￥0.00</li>
				</ol>
			</div>
			<div><button type="button">去结算</button></div>
		</div>
		<div class="One_isDel">
      <p>
      	<span>删除</span><span><img src="img/错误.png" alt=""></span>
      </p>
			<div>
				<dl>
					<dt><img src="img/感叹三角形 (2).png" alt=""></dt>
					<dd>
						<li>删除商品？</li>
						<li>您可以选择移到关注，或删除商品。</li>
					</dd>
				<dl>
			</div>
				<div>
					<button type="button">删除</button>
					<button type="button">移到我的关注</button>
				</div>
		</div>
		<div class="One_moveGzIfNull">
			<p>
      	<span>删除</span><span><img src="img/错误.png" alt=""></span>
      </p>
			<dl>
				<dt><img src="img/感叹三角形 (2).png" alt=""></dt>
				<dd>请至少选中一件商品！</dd>
			</dl>
		</div>
		<div class="One_moveMyGz">
			<p>
 			 <span>删除</span><span><img src="img/错误.png" alt=""></span>
 		 </p>
		 <div>
			 <dl>
				 <dt><img src="img/感叹三角形 (2).png" alt=""></dt>
				 <dd>
					 <li>移到关注</li>
					 <li>移动后选中商品将不再购物车中显示</li>
				 </dd>
			 <dl>
		 </div>
		 <div>
			 <button type="button">确定</button>
			 <button type="button">取消</button>
		 </div>
		</div>
		<div class="One_clearShop">
			<p>
 			 <span>提示</span><span><img src="img/错误.png" alt=""></span>
 		 </p>
		 <dl>
			 <dt><img src="img/感叹三角形 (2).png" alt=""></dt>
			 <dd>没有下柜商品!</dd>
		 </dl>
		</div>
		<div class="One_DengLu">
			<p>
 			<span>您尚未登录</span><span><img src="img/错误.png" alt=""></span>
 		  </p>
		 <p><img src="img/i.png" alt="">京东不会以任何理由要求您转账汇款，谨防诈骗。</p>
		 <div>
		 	<ul>
		 		<li>扫码登陆</li><li>账户登录</li>
		 	</ul>
			<ol>
				<li>
					<dt><img src="img/saoyisao.png" alt=""></dt>
					<dd>打开<font style="color:#E64346">手机京东</font>&nbsp;&nbsp;扫描二维码</dd>
					<dd>
						<img src="img/写作.png" alt="">免输入&nbsp;&nbsp;
						<img src="img/闪电.png" alt="">更快&nbsp;&nbsp;
						<img src="img/安全.png" alt="">更安全&nbsp;&nbsp;
					</dd>
					<font><img src="img/qq.png" alt="">QQ</font>
					<font><img src="img/微信.png" alt="">微信</font>
					<font><img src="img/DengluJd.png" alt="">立即注册</font>
				</li>
				<li>
					<table cellspacing="20">
						<tr>
							<td>
								<span><img src="img/头像.png" alt=""></span><span><input type="text" placeholder="邮箱/用户名/已验证手机"></span>
							</td>
	          </tr>
						<tr>
							<td>
								<span><img src="img/锁.png" alt=""></span>
								<span><input type="text" placeholder="密码"></span>
							</td>
	          </tr>
						<tr>
							<td>忘记密码</td>
						</tr>
						<tr>
							<td><button type="button" name="button">登录</button></td>
						</tr>
						<tr>
							<td>
								<li><img src="img/qq.png" alt="">QQ</li>
								<li><img src="img/微信.png" alt="">微信</li>
								<li><img src="img\DengluJd.png" alt="">立即注册</li>
							</td>
						</tr>
					</table>
				</li>
			</ol>
		 </div>
		</div>
		<div class="One_mb"></div>
		<div class="One_RightFix">
			<ul>
				<li>我的关注</li>
				<li>
					<img src="img/包.png" alt="">
					<ol>
						<li>常购商品</li>
					</ol>
				</li>
				<li>
					<img src="img/京东支付.png" alt="">
					<ol>
						<li>京东卡</li>
					</ol>
				</li>
			</ul>
		</div>
		<div class="One_RightbtmFix">
     <ul>
     	<li>
				<a href="#mao1"><img src="img/箭头fix.png" alt=""></a>
				<ol>
					<li><a href="#mao1">顶部</a></li>
				</ol>
			</li>
			<li>
				<a href="#mao2"><img src="img/疑问.png" alt=""></a>
				<ol>
					<li><a href="#mao2">常见问题</a></li>
				</ol>
			</li>
			<li>
				<a href="#mao3"><img src="img/写.png" alt=""></a>
				<ol>
					<li><a href="#mao3">反馈</a></li>
				</ol>
			</li>
     </ul>
		</div>










		<div class="one_main">
			<div class="one_main1">
				<div class="one_main_div1">
					<ul class="one_main_ul">
						<li class="active">猜你喜欢</li>
						<li>随手购</li>
						<li>我的关注</li>
						<li>最近浏览</li>
					</ul>
					<div class="aa">
						<div class="one_main_div1_1" style="display: block;">
							<div class="slider">
								<!--图片容器 8图 可动态添加-->
								<ul class="fade">
									<li>
										<div class="fade_div1">
											<img src="img/one_main1.jpg">
											<p class="fade_div1_p1">诺基亚8 (Nokia8) 手机 黑 标配 </p>
											<p class="fade_div1_p3">￥5999.00</p>
											<a href="#"><p class="fade_div1_p2"><img src="img/one_mian_gwc1.png">  &nbsp;&nbsp;购物车</p></a>
										</div>
										<div class="fade_div2">
											<img src="img/one_main2.jpg">
											<p class="fade_div1_p1">科尔沁 休闲肉脯零食 内蒙古特产 手撕风干牛肉干孜然味400g </p>
											<p class="fade_div1_p3">￥99.00</p>
											<a href="#"><p class="fade_div1_p2"><img src="img/one_mian_gwc1.png">  &nbsp;&nbsp;购物车</p></a>
										</div>
										<div class="fade_div3">
											<img src="img/one_main3.jpg">
											<p class="fade_div1_p1">机械师游戏本（MACHENIKE） T58 七代i7/GTX1050 4G独显笔记本电脑 单色</p>
											<p class="fade_div1_p3">￥5699.00</p>
											<a href="#"><p class="fade_div1_p2"><img src="img/one_mian_gwc1.png"> &nbsp;&nbsp;购物车</p></a>
										</div>
										<div class="fade_div4">
											<img src="img/one_main4.jpg">
											<p class="fade_div1_p1">福临门 东北优质 大米 8kg </p>
											<p class="fade_div1_p3">￥49.90</p>
											<a href="#"><p class="fade_div1_p2"><img src="img/one_mian_gwc1.png">  &nbsp;&nbsp;购物车</p></a>
										</div>
									</li>
									<li>
										<div class="fade_div1">
											<img src="img/one_main5.jpg">
											<p class="fade_div1_p1">联想（Lenovo） ideaPad110 15.6英寸商务办公家用影音笔记本电脑 四核A6-</p>
											<p class="fade_div1_p3">￥2999.00</p>
											<a href="#"><p class="fade_div1_p2"><img src="img/one_mian_gwc1.png">  &nbsp;&nbsp;购物车</p></a>
										</div>
										<div class="fade_div2">
											<img src="img/one_main6.jpg">
											<p class="fade_div1_p1">统一 阿萨姆奶茶500ml*15瓶 整箱</p>
											<p class="fade_div1_p3">￥49.99</p>
											<a href="#"><p class="fade_div1_p2"><img src="img/one_mian_gwc1.png">  &nbsp;&nbsp;购物车</p></a>
										</div>
										<div class="fade_div3">
											<img src="img/one_main7.jpg">
											<p class="fade_div1_p1">（Lenovo）扬天V110 14英寸商务笔记本电脑(N3350 4G 500G 集显 </p>
											<p class="fade_div1_p3">￥2399.00</p>
											<a href="#"><p class="fade_div1_p2"><img src="img/one_mian_gwc1.png"> &nbsp;&nbsp;购物车</p></a>
										</div>
										<div class="fade_div4">
											<img src="img/one_main8.jpg">
											<p class="fade_div1_p1">水星（MERCURY）MW325R 300M智能wifi无线路由器增强四天线</p>
											<p class="fade_div1_p3">￥55.00</p>
											<a href="#"><p class="fade_div1_p2"><img src="img/one_mian_gwc1.png">  &nbsp;&nbsp;购物车</p></a>
										</div>
									</li>
									<li>
										<div class="fade_div1">
											<img src="img/one_main9.jpg">
											<p class="fade_div1_p1">魅族 PRO 7 4GB+128GB 全网通公开版 静谧黑 移动联通电信4G手机 双卡双待 </p>
											<p class="fade_div1_p3">￥2899.00</p>
											<a href="#"><p class="fade_div1_p2"><img src="img/one_mian_gwc1.png">  &nbsp;&nbsp;购物车</p></a>
										</div>
										<div class="fade_div2">
											<img src="img/one_main10.jpg">
											<p class="fade_div1_p1">韩国 东远 金枪鱼罐头 沙拉酱味100g*2罐</p>
											<p class="fade_div1_p3">￥15.80</p>
											<a href="#"><p class="fade_div1_p2"><img src="img/one_mian_gwc1.png">  &nbsp;&nbsp;购物车</p></a>
										</div>
										<div class="fade_div3">
											<img src="img/one_main11.jpg">
											<p class="fade_div1_p1">炫龙（Shinelon）毁灭者DCPro-4681S1N 15.6英寸游戏笔记本电脑</p>
											<p class="fade_div1_p3">￥4799.00</p>
											<a href="#"><p class="fade_div1_p2"><img src="img/one_mian_gwc1.png"> &nbsp;&nbsp;购物车</p></a>
										</div>
										<div class="fade_div4">
											<img src="img/one_main12.jpg">
											<p class="fade_div1_p1">福临门 五常长粒香 五常大米 中粮出品 大米 5kg</p>
											<p class="fade_div1_p3">￥39.90</p>
											<a href="#"><p class="fade_div1_p2"><img src="img/one_mian_gwc1.png">  &nbsp;&nbsp;购物车</p></a>
										</div>
									</li>

								</ul>
								<!--箭头-->
								<div class="arrow">
									<span class="arrow-left iconfont icon-back">&lt;</span>
									<span class="arrow-right iconfont icon-more">&gt;</span>
								</div>
								<!-- 分页器 -->
								<div class="pagination">
									<ul>
										<li class="active"></li>
										<li></li>
										<li></li>
									</ul>
								</div>

							</div>
						</div>

						<div class="one_main_div1_1">
							<div class="slider">
								<!--图片容器 8图 可动态添加-->
								<ul class="fade">
									<li>
										<div class="fade_div1">
											<img src="img/main_one1.jpg">
											<p class="fade_div1_p1">诺基亚8 (Nokia8) 手机 黑 标配 </p>
											<p class="fade_div1_p3">￥5999.00</p>
											<a href="#"><p class="fade_div1_p2"><img src="img/one_mian_gwc1.png">  &nbsp;&nbsp;购物车</p></a>
										</div>
										<div class="fade_div2">
											<img src="img/main_one2.jpg">
											<p class="fade_div1_p1">科尔沁 休闲肉脯零食 内蒙古特产 手撕风干牛肉干孜然味400g </p>
											<p class="fade_div1_p3">￥99.00</p>
											<a href="#"><p class="fade_div1_p2"><img src="img/one_mian_gwc1.png">  &nbsp;&nbsp;购物车</p></a>
										</div>
										<div class="fade_div3">
											<img src="img/one_main5.jpg">
											<p class="fade_div1_p1">机械师游戏本（MACHENIKE） T58 七代i7/GTX1050 4G独显笔记本电脑 单色</p>
											<p class="fade_div1_p3">￥5699.00</p>
											<a href="#"><p class="fade_div1_p2"><img src="img/one_mian_gwc1.png"> &nbsp;&nbsp;购物车</p></a>
										</div>
										<div class="fade_div4">
											<img src="img/main_one4.jpg">
											<p class="fade_div1_p1">福临门 东北优质 大米 8kg </p>
											<p class="fade_div1_p3">￥49.90</p>
											<a href="#"><p class="fade_div1_p2"><img src="img/one_mian_gwc1.png">  &nbsp;&nbsp;购物车</p></a>
										</div>
									</li>


								</ul>
								<!--箭头-->
								<div class="arrow">
									<span class="arrow-left iconfont icon-back">&lt;</span>
									<span class="arrow-right iconfont icon-more">&gt;</span>
								</div>
								<!-- 分页器 -->
								<div class="pagination">
									<ul>
										<li class="active"></li>
									</ul>
								</div>

							</div>
						</div>
						<div class="one_main_div1_1">
							<a href="#">登录</a>后将显示您之前关注的商品
						</div>

						<div class="one_main_div1_1">
							<span>暂时无结果</span>
						</div>
					</div>
				</div>
			</div>
		</div>









		<!--底部-->

		<div class="one_footer">
			<div class="footer_head">
				<ul>
					<li>
						<img src="img/footer1.jpg" />
						<span>品类齐全，轻松购物</span>
					</li>
					<li>
						<img src="img/footer2.jpg" />
						<span>多仓直发，极速配送</span>
					</li>
					<li>
						<img src="img/footer3.jpg" />
						<span>正品行货，极致服务</span>
					</li>
					<li>
						<img src="img/footer4.jpg" />
						<span>天天低价，畅选无忧</span>
					</li>
				</ul>
			</div>


			<div class="footer_con">
				<div class="con_1">
					<ul>
						<h3>购物指南</h3>
						<li>
							<a href="#">购物流程</a>
						</li>
						<li>
							<a href="#">会员介绍</a>
						</li>
						<li>
							<a href="#">生活旅行/团购</a>
						</li>
						<li>
							<a href="#">常见问题</a>
						</li>
						<li>
							<a href="#">大家电</a>
						</li>
						<li>
							<a href="#">联系服务</a>
						</li>
					</ul>
					<ul>
						<h3>配送方式</h3>
						<li>
							<a href="#">上门自提</a>
						</li>
						<li>
							<a href="#">211限时到达</a>
						</li>
						<li>
							<a href="#">配送服务查询</a>
						</li>
						<li>
							<a href="#">配送费收取标准</a>
						</li>
						<li>
							<a href="#">海外配送</a>
						</li>
					</ul>
					<ul>
						<h3>支付方式</h3>
						<li>
							<a href="#">货到付款</a>
						</li>
						<li>
							<a href="#">在线支付</a>
						</li>
						<li>
							<a href="#">分期付款</a>
						</li>
						<li>
							<a href="#">邮局汇款</a>
						</li>
						<li>
							<a href="#">公司转账</a>
						</li>
					</ul>
					<ul>
						<h3>售后服务</h3>
						<li>
							<a href="#">售后政策</a>
						</li>
						<li>
							<a href="#">价格保护</a>
						</li>
						<li>
							<a href="#">退款说明</a>
						</li>
						<li>
							<a href="#">返修/退换货</a>
						</li>
						<li>
							<a href="#">取消订单</a>
						</li>
					</ul>
					<ul>
						<h3>特色服务</h3>
						<li>
							<a href="#">夺宝岛</a>
						</li>
						<li>
							<a href="#">DIY装机</a>
						</li>
						<li>
							<a href="#">延保服务</a>
						</li>
						<li>
							<a href="#">京东E卡</a>
						</li>
						<li>
							<a href="#">京东通信</a>
						</li>
						<li>
							<a href="#">京东JD+</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer_last">
				<ul class="last_head">
					<li>
						<a href="#">关于我们</a>
					</li>
					<li>
						<a href="#">联系我们</a>
					</li>
					<li>
						<a href="#">联系客服</a>
					</li>
					<li>
						<a href="#">合作招商</a>
					</li>
					<li>
						<a href="#">商家帮助</a>
					</li>
					<li>
						<a href="#">营销中心</a>
					</li>
					<li>
						<a href="#">手机京东</a>
					</li>
					<li>
						<a href="#">友情链接</a>
					</li>
					<li>
						<a href="#">销售联盟</a>
					</li>
					<li>
						<a href="#">津东社区</a>
					</li>
					<li>
						<a href="#">风险监测</a>
					</li>
					<li>
						<a href="#">隐私政策</a>
					</li>
					<li>
						<a href="#">京东公益</a>
					</li>
					<li class="eng">
						<a href="#">English Site</a>
					</li>
					<li>
						<a href="#">Contact Us</a>
					</li>
				</ul>
				<div class="last_con">
					<p>
						<a href="#">京公网安备 11000002000088号</a>
						<span>|</span>
						<a href="#">京ICP证070359号</a>
						<span>|</span>
						<a href="#">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a>
						<span>|</span>
						<a href="#">新出发京零 字第大120007号</a>
					</p>
					<p>
						<a href="#">互联网出版许可证编号新出网证(京)字150号</a>
						<span>|</span>
						<a href="#">出版物经营许可证</a>
						<span>|</span>
						<a href="#">网络文化经营许可证京网文[2014]2148-348号</a>
						<span>|</span>
						<a href="#">违法和不良信息举报电话：4006561155</a>
					</p>
					<p>
						<a href="#">Copyright &copy; 2004 - 2017 京东JD.com版权所有</a>
						<span>|</span>
						<a href="#">消费者维权热线：4006067733 经营证照</a>
					</p>
					<p>
						<a href="#">京东旗下网站：京东钱包</a>
						<span>|</span>
						<a href="#">京东云</a>
					</p>
				</div>
				<div class="last_end">
				<ul>
					<li>
						<a href="#"><img src="img/footer5.jpg" /></a>
					</li>
					<li>
						<a href="#"><img src="img/footer6.jpg" /></a>
					</li>
					<li>
						<a href="#"><img src="img/footer7.jpg" /></a>
					</li>
					<li>
						<a href="#"><img src="img/footer8.jpg" /></a>
					</li>
					<li>
						<a href="#"><img src="img/footer9.jpg" /></a>
					</li>
					<li>
						<a href="#"><img src="img/footer10.jpg" /></a>
					</li>
				</ul>
				</div>
			</div>
		</div>
	</body>
	<script src="js\index.js" charset="utf-8"></script>
	<script type="text/javascript">
	//购物车结算固定定位
	$(document).scroll(function(){
		if($(window).scrollTop()>50){
			$(".fix").hide();
		}else{
			$(".fix").show();
		}
	})


	//购物车顶端tab
	$(".One_Topleft span:last-child").mouseover(function(){
		$(".One_Topleft span:first-child").css({"color":"black","border-bottom":"none"})
		$(this).css({"cursor":"pointer","color":"#E4393C","border-bottom":"2px solid red"})
	}).mouseout(function(){
		$(this).css({"color":"black","border-bottom":"none"});
		$(".One_Topleft span:first-child").css({"cursor":"pointer","color":"#E4393C","border-bottom":"2px solid red"})
	})
	//立即登录
	$(".one_search_load input:button").click(function(){
		$(".One_mb").show();
		$(".One_DengLu").show();
	})
	//去结算
	$(".One_ShopFootBuy>div:last-child button").mouseover(function(){
		$(this).css("cursor","pointer");
	})
	$(".One_ShopFootBuy>div:last-child button").click(function(){
		$(".One_mb").show();
		$(".One_DengLu").show();
	})
	//buyNum
	$(".One_ShopFootBuy>div:nth-child(2)").mouseover(function(){
		$(this).css("cursor","pointer")
	})
	$(".One_ShopFootBuy>div:nth-child(2)").click(function(){
		$(this).children("ol").toggle();
		$(this).children("ul").toggle();
		var dis=$(".One_ShopFootBuy>div:nth-child(2) ol").css("display");
		if(dis=="none"){
			$(".One_ShopFootBuy>div:nth-child(2) img").css("transform","rotateX(0)")
		}else if(dis=="block"){
			$(".One_ShopFootBuy>div:nth-child(2) img").css("transform","rotateX(180deg)")
		}
	})
	//右侧固定定位
	$(".One_RightFix ul>li:not(:first-child)").mouseover(function(){
		$(this).css({"cursor":"pointer","background":"#C91423"})
		$(this).children("ol").stop().animate({"left":"-75px"},200)
	}).mouseout(function(){
		$(this).css("background","#7A6E6E");
		$(this).children("ol").stop().animate({"left":"75px"},200)
	})
	//右侧底部固定定位
	$(".One_RightbtmFix ul>li").mouseover(function(){
		$(this).css({"cursor":"pointer","background":"#C91423"})
		$(this).children("ol").stop().animate({"left":"-55px"},200)
	}).mouseout(function(){
		$(this).css("background","#7A6E6E");
		$(this).children("ol").stop().animate({"left":"55px"},200)
	})
	//登录弹框tab切换
	$(".One_DengLu>div:nth-child(3) ul li").mouseover(function(){
		$(this).css("cursor","pointer")
	})
	$(".One_DengLu>div:nth-child(3) ul li").click(function(){
		var i=$(this).index();
		$(this).css({"color":"#E64346","font-weight":"bold"})
		.siblings("li").css({"color":"black","font-weight":"normal"})
		$(".One_DengLu>div:nth-child(3) ol li").eq(i).show().siblings().hide()
	})
	 //优惠券
	 $(".One_ShopBottom>div:nth-child(2) img").click(function(){
		 $(".One_mb").show();
		 $(".One_DengLu").show();
	 })
   //配送地址hover效果
	 $(".One_Topright span:last-child").mouseover(function(){
     $(this).children(".One_Local").css("display","block")
	 }).mouseout(function(){
		 $(".One_Local>ul>li").eq(0).children("ol").css("display","block")
     $(this).children(".One_Local").css("display","none")
	 })

    $(".One_Local>ul>li").eq(0).children("ol").css("display","block")
		$(".One_Local>ul>li").mouseover(function(){
			var i=$(this).index();
			$(this).css("cursor","pointer");
			$(this).children("ol").css("display","block")
		}).mouseout(function(){
			$(".One_Local>ul>li").eq(0).children("ol").css("display","block")
			$(this).children("ol").css("display","none")
		})

		$(".One_Local>ul>li>ol li").mouseover(function(){
			$(this).css({"cursor":"pointer","color":"#e64346"})
		}).mouseout(function(){
			$(this).css("color","#005AA0")
		})

    $(".One_Local>ul>li>ol li").click(function(){
			$(this).parent().parent().children("label").html($(this).html())
		})
    //购物车全选反选
		$(".One_ShopTop ul li:first-child .allCheck").click(function(){
			if($(".One_ShopTop ul li:first-child .allCheck").is(":checked")){
				// $(".check").each(function(index){
					$(".check").prop("checked",true);
					$(".check").parent().parent().parent().css("background","#fff4e8");
				  $(".One_ShopBottom>div:first-child span:first-child .allCheck").prop("checked",true)
				// })
			}else{
				// $(".check").each(function(){
					$(".check").parent().parent().parent().css("background","none");
					$(".check").prop("checked",false);
					$(".One_ShopBottom>div:first-child span:first-child .allCheck").prop("checked",false)
				// })
			}
		})
		$(".One_ShopFootBuy>div:first-child ul li:first-child .allCheck").click(function(){
			if($(".One_ShopFootBuy>div:first-child ul li:first-child .allCheck").is(":checked")){
				$(".check").prop("checked",true);
				$(".check").parent().parent().parent().css("background","#fff4e8");
				$(".One_ShopBottom>div:first-child span:first-child .allCheck").prop("checked",true)
			}else{
				$(".check").parent().parent().parent().css("background","none");
				$(".check").prop("checked",false);
				$(".One_ShopBottom>div:first-child span:first-child .allCheck").prop("checked",false)
			}
		})
		$(".One_ShopBottom>div:first-child span:first-child .allCheck").click(function(){
			if($(".One_ShopBottom>div:first-child span:first-child .allCheck").is(":checked")){
				$(".check").prop("checked",true);
				$(".check").parent().parent().parent().css("background","#fff4e8");
			}else{
				$(".check").parent().parent().parent().css("background","none");
				$(".check").prop("checked",false);
			}
		})
    //如果子选择框没有选中则父选框取消全选
		$(".check").click(function(){
			$(".check").each(function(){
				if($(this).prop("checked")==true){
					$(".allCheck").prop("checked",false);
				}
			})
		})
		//子选择框全部选中复选框也选中
		$(".check").click(function(){
					 if($(".check[class='check']:checked").length==$(".check[class='check']").length){
						 $(".allCheck").prop("checked",true);
					 }else{
						 $(".allCheck").prop("checked",false)
					 }
		})
		//删除已选的商品
		$(".One_ShopFootBuy>div:first-child ul li:nth-child(2)").click(function(){
			// $(".check").each(function(){
				if($(".check").is(":checked")==false){
					$(".One_mb").show();
					$(".One_moveGzIfNull").show();
				}else{
					$(".One_mb").show();     //蒙版显示
					$(".One_isDel").show();  //删除弹框显示
					$(".One_moveGzIfNull").hide();
				}
				//移除结账固定定位
				// if($(".check").length==1){
				// 	$(".fix").remove();
				// }
			// })
			//var that=$(this);
			//确定删除
			$(".One_isDel>div:last-child button:first-child").click(function(){
				$(".One_mb").hide();    //蒙版隐藏
				$(".One_isDel").hide(); //删除弹框隐藏
				$(".check:checked").parent().parent().parent().parent().remove();  //删除选中商品
				if($(".fix").offset().top>$(".fix1").offset().top){
					$(".fix").hide();
				}
				if($(".check").length==0){
					$(".allCheck").prop("checked",false);
					$(".sumNum").html("0");
					$(".fnt").html("￥ 0.00");
				}
			})
		})
		//确定删除弹框移入我的关注
		$(".One_isDel>div:last-child button:last-child").click(function(){
			$(".One_isDel").hide();
			$(".One_mb").show();
			$(".One_DengLu").show();
		})
		//移到我的关注
    $(".One_ShopFootBuy>div:first-child ul li:nth-child(3)").click(function(){
			$(".check").each(function(index){
				if($(this).is(":checked")==false){
					$(".One_mb").show();
					$(".One_moveGzIfNull").show();
				}else{
					$(".One_mb").show();
					$(".One_moveMyGz").show();
					$(".One_moveGzIfNull").hide();
				}
			})
		})
    //点击×号关闭
		$(".One_moveGzIfNull>p span:last-child img").click(function(){
			$(".One_mb").hide();
			$(".One_moveGzIfNull").hide();
		})
		$(".One_moveMyGz>p span:last-child img").click(function(){
			$(".One_mb").hide();
			$(".One_moveMyGz").hide();
			$(".One_moveGzIfNull").hide();
		})
		$(".One_clearShop>p span:last-child img").click(function(){
			$(".One_mb").hide();
			$(".One_clearShop").hide();
		})
		//移到我的关注取消按钮点击关闭
		 $(".One_moveMyGz>div:last-child button:last-child").click(function(){
			 $(".One_mb").hide();
 			 $(".One_moveMyGz").hide();
		 })
		 //移到我的关注确定按钮点击登录弹框弹出
		 $(".One_moveMyGz>div:last-child button:first-child").click(function(){
			 $(".One_moveMyGz").hide();
			 $(".One_mb").show();
			 $(".One_DengLu").show();
		 })

		 $(".One_DengLu>p:first-child span:last-child img").click(function(){
			 $(".One_mb").hide();
			 $(".One_DengLu").hide();
		 })
     //清除下柜商品
		 $(".One_ShopFootBuy>div:first-child ul li:nth-child(4)").click(function(){
			 $(".One_mb").show();
			 $(".One_clearShop").show()
		 })
		//购物车+ -
		//鼠标移入变小手
		$(".One_ShopCon ul li>div:nth-child(2) ol>li:nth-child(4) p:first-child span").mouseover(function(){
			$(this).css("cursor","pointer")
		})
		//+
		$(".One_ShopCon ul li>div:nth-child(2) ol>li:nth-child(4) p:first-child span:last-child").click(function(){
			var add=$(this).prev("span").html();
			add++;
			$(this).prev("span").html(add);
			//总价
			var dj=$(this).parent().parent().prev().children(".dj").html().substring(1);
			var sl=$(this).prev("span").html();
			$(this).parent().parent().parent().children("li:nth-child(5)").children(".zj").html("￥"+dj*sl+".00")
      sumSumPrice();
			sumSumNum();
		})
		//-
		$(".One_ShopCon ul li>div:nth-child(2) ol>li:nth-child(4) p:first-child span:first-child").click(function(){
			var jian=$(this).next("span").html();
			jian--;
			if(jian<=0){
				jian=0;
			}
			$(this).next("span").html(jian);
      //总价
			var dj=$(this).parent().parent().prev().children(".dj").html().substring(1);
			var sl=$(this).next("span").html();
			$(this).parent().parent().parent().children("li:nth-child(5)").children(".zj").html("￥"+dj*sl+".00")
      sumSumPrice();
			sumSumNum();
		})
    //选中当前商品背景变色
    $(".check").each(function(index){
			$(".check").eq(index).click(function(){
				if($(this).is(":checked")){
					$(this).parent().parent().parent().css("background","#fff4e8");
					$(this).parent().parent().parent().parent().children("div:last-child").css("background","#fff4e8")
				}else{
					$(this).parent().parent().parent().parent().children("div:last-child").css("background","none")
					$(this).parent().parent().parent().css("background","none")
				}
			})
		})
    //商品删除鼠标移入变色
		$(".One_ShopCon ul li>div:nth-child(2) ol>li:nth-child(6) p").mouseover(function(){
			$(this).css({"cursor":"pointer","color":"#e64346"});
		}).mouseout(function(){
			$(this).css({"cursor":"pointer","color":"gray"});
		})
		$(".One_ShopCon ul li>div:nth-child(2) ol>li:nth-child(6) p:nth-child(2)").click(function(){
			$(".One_mb").show();
			$(".One_moveMyGz").show();
		})
		$(".One_ShopCon ul li>div:nth-child(2) ol>li:nth-child(6) p:last-child").click(function(){
			$(".One_mb").show();
			$(".One_DengLu").show();
		})
		//点击删除
		//点击删除出现弹框
		$(".One_isDel>p img").click(function(){
			$(".One_mb").hide();
			$(".One_isDel").hide();
		})
		$(".One_ShopCon ul li>div:nth-child(2) ol>li:nth-child(6) p:first-child").click(function(){
			$(".One_mb").show();
			$(".One_isDel").show();
			var that=$(this);
			//确定删除
			$(".One_isDel>div:last-child button:first-child").click(function(){
				$(".One_mb").hide();
				$(".One_isDel").hide();
				that.parent().parent().parent().parent().remove();
				// 移除结账固定定位
				// if($(".check").length==1){
				// 	$(".fix").remove();
				// }
				if($(".fix").offset().top>$(".fix1").offset().top){
					$(".fix").hide();
				}
				if($(".check").length==0){
					$(".allCheck").prop("checked",false);
					$(".sumNum").html("0");
					$(".fnt").html("￥ 0.00");
				}
			})
		})
		//页面滚动删除去结算固定定位隐藏
		$(document).scroll(function(){
			if($(".fix").offset().top>$(".fix1").offset().top){
				$(".fix").hide();
			}
		})
    $(".One_isDel>div:last-child button").mouseover(function(){
			$(this).css("cursor","pointer");
		})

		$(".One_ShopFootBuy>div:first-child ul li:not(:first-child)").mouseover(function(){
			$(this).css({"cursor":"pointer","color":"#e64346"})
		}).mouseout(function(){
			$(this).css("color","black")
		})

    //封装总价钱函数
		function sumSumPrice(){
			var kong=0;
			$(".One_ShopCon ul li>div:nth-child(2) ol li:nth-child(5) .zj").each(function(){
					kong+=parseFloat($(this).html().substring(1))
			})
			$(".fnt").html("￥"+kong+".00")
		}
		//封装总数量函数
		function sumSumNum(){
			var kong=0;
			$(".One_ShopCon ul li>div:nth-child(2) ol>li:nth-child(4) p:first-child span:nth-child(2)").each(function(){
				kong+=parseFloat($(this).html())
			})
			$(".sumNum").html(kong);
		}

		$(".One_ShopCon ul li>div:nth-child(2)>ol>li:nth-child(2)>dd").mouseover(function(){
			$(this).css({"cursor":"pointer","color":"#e64346"})
		}).mouseout(function(){
			$(this).css("color","black")
		})
		//更多促销下拉
		$(".One_ShopCon ul li>div:nth-child(2) ol li:nth-child(3) p:nth-child(2)").click(function(){
			$(this).parent().children(".nmbd").slideToggle(300);
			var dis=$(this).parent().children(".nmbd").css("display");
			console.log(dis);
			// if(dis=="block"){
			// 	$(".hahaha").css("transform","rotateX(-180deg)")
			// }else{
			// 	$(".hahaha").css("transform","rotateX(360deg)")
			// }
		})
		$(".nmbd dd:last-child button:first-child").click(function(){
			$(this).parent().parent().slideUp(100)
		})
		$(".nmbd dd:last-child button:last-child").click(function(){
			$(this).parent().parent().slideUp(100)
		})










		//active
    $(".one_main_div1 .one_main_ul>li").mouseover(function(){
              $(".one_main_div1 .one_main_ul>li").removeClass("active");
              $(this).addClass("active");
    })
	//选项卡
		$(".one_main_div1 .one_main_ul li").mouseover(function() {
			$(".one_main_div1_1").eq($(this).index()).stop(true).show().siblings().stop(true).hide()
		})

		$(function() {
			//声明变量记录索引
			var index = 0;
			//点击右边按钮
			//忽略重复点击开关
			var toggle = true
			$(".arrow-right").click(function() {

				if (toggle == false) {
					return
				}
				toggle = false
				index++;
				if (index > $('.fade li').length - 1) {
					index = 0;
				}
				$('.pagination ul li').eq(index).addClass('active').siblings().removeClass('active')
				$(".slider>ul>li").eq(index).stop(true).fadeIn(500, function() {
						toggle = true
					}

				).siblings("li").stop(true).fadeOut(500,

				);

			});

			//点击左边按钮
			$(".arrow-left").click(function() {
				if (toggle == false) {
					return
				}
				toggle = false
				index--;
				if (index < 0) {
					index = $('.fade li').length - 1;
				}
				$('.pagination ul li').eq(index).addClass('active').siblings().removeClass('active')
				$(".slider>ul>li").eq(index).fadeIn(500, function() {
					toggle = true
				}).siblings("li").fadeOut(500);
			});
			//点击分页器
			$('.pagination ul li').mouseover(function() {
				var paging = $(this).index()
					//变颜色
				$(this).addClass('active').siblings().removeClass('active')
					//与图片关联
				$(".slider>ul>li").eq(paging).fadeIn(1000).siblings("li").fadeOut(1000);

			})
		});
		$(".fade li>div a").mouseover(function(){
			$(this).children("p").children("img").attr("src","img/one_mian_gwc2.png")
		}).mouseout(function(){
			$(this).children("p").children("img").attr("src","img/one_mian_gwc1.png")
		})
	</script>
</html>
