<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xatu.gmall.mapper.UserMapper">

<select id="SelectUserById" parameterType="integer" resultType="com.xatu.gmall.entity.Member">
        select  * from ums_member where id = #{i}
    </select>
</mapper>
