<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<script src="js/jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/JD2.css" />

		<title></title>
	</head>

	<body>
		<!--顶部-->
		<header>
			<div class="header">
				<ul class="header-left">
					<li>
						<img src="img/header_1.png"/>
						<a href="">首页</a>
					</li>
					<li class="header-l-2">
						<i class="fa fa-map-marker" style="color: #5C5452;"></i>
						<a href="">北京</a>

					</li>

				</ul>
				<ul class="header-right">
					<li th:text="'你好，'+${nickName}"> </li>
					<li>|</li>
					<li class="spacer"></li>
					<li><a href="">我的订单</a></li>
					<li class="spacer"></li>

				</ul>
				<div style="clear: both;"></div>
			</div>


		</header>

		<!--logo图片-->
		<div class="top-1">
			<img src="img/07.png" class="img1" /><span>下单失败</span>
			<!--右侧绿色-->
			<img src="img/08.png" class="img2" />
		</div>

		<!--主体部分-->
		<p class="p1" >可能是如下原因：</p>
		<div class="section" style="height: 200px">

			<div class="top-2">
				<span   th:text="${errMsg}"> </span>
			</div>




		</div><!--********************************************************************************************-->



		<script>
            $(function() {
            });



		</script>
	</body>

</html>